<!DOCTYPE html>
<html>
  <%- include('includes/head',{}) %>
  <body id="lists">
    <%- include('includes/header',{mode:1}) %>
    <div id="main">
      <%- include('includes/app_description',{}) %>
      <div class="container mt-sm-5">
        <div class="row">
          <div class="col-12 col-sm-8">
            <div class="lists-title">
              <h2>・新規投稿</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="mini-ul">
              <li>タイトルと画像は確実に入れてください。</li>
              <li>概要は未入力だとNoneが入ります。</li>
              <li>拡張子はgif,jpg,pngのどれかでお願いします。</li>
            </ul>
            <%- content %>
          </div>
        </div>
        <div class="create-form" style="border:1px solid #999;">
          <form class="p-sm-5" action="/create/" method="post" enctype="multipart/form-data">
            <label for="create_title">タイトル：</label><br>
            <input id="create_title" class="form-control" type="text" name="title" value="<%= form.title %>" placeholder="タイトル">
            <label for="create_description">概要：</label><br>
            <textarea id="create_description" class="form-control" name="description" rows="8" cols="80" placeholder="概要"><%= form.description %></textarea>
            <div class="form-group">
              <div class="radio-inline">
                <% if(form.publish == 'Public'){ %>
                  <input type="radio" name="publish" value="Public" id="public" checked="checked">
                <% }else{ %>
                  <input type="radio" name="publish" value="Public" id="public">
                <% } %>
                <label for="public">公開</label>
              </div>
              <div class="radio-inline">
                <% if(form.publish == 'Private'){ %>
                  <input type="radio" name="publish" value="Private" id="private" checked="checked">
                <% }else{ %>
                  <input type="radio" name="publish" value="Private" id="private">
                <% } %>
                <label for="private">非公開</label>
              </div>
            </div>
            <label for="create_image">画像：</label><br>
            <input id="file" class="create-image" type="file" name="thumbnail" value="<%= image %>"><br>
            <div class="images">
              <img id="result" src="">
            </div>
            <div class="create_send_btn pr-3 pr-sm-5" style="text-align:right;">
              <input class="btn btn-primary create-btn" type="submit" value="保存">
            </div>
          </form>
        </div>
        <%- include('includes/click_menu',{users:users}) %>
      <%- include('includes/serch_modal',{}) %>
      <%- include('includes/profile_modal',{}) %>
    </div>
    <%- include('includes/under_scripts',{}) %>
  </body>
</html>
