<!DOCTYPE html>
<html>
  <%- include('includes/head',{}) %>
  <body id="lists">
    <%- include('includes/header.ejs',{mode:1}) %>
    <div id="main">
      <%- include('includes/app_description',{}) %>
      <div class="container mt-3 mt-sm-5">
        <div class="row">
          <div class="col-12 col-sm-8">
            <div class="lists-title">
              <h2><%= title %></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% for(var i in content){ %>
            <% var obj = content[i] %>
            <div class="d-flex col-12 col-sm-4 mt-3 mt-sm-3">
              <div class="card">
                <% if(obj.relations.user.id == users.id){ %>
                  <a href="/detail/mypage_detail/<%= obj.id %>/<%= obj.relations.user.id %>/">
                    <img class="card-img-title" src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= obj.attributes.product_cloud %>" alt="<%= obj.title %>">
                  </a>
                <% }else if(obj.relations.user.id != users.id){ %>
                  <a href="/detail/<%= obj.id %>/<%= obj.relations.user.id %>/">
                    <img class="card-img-title" src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= obj.attributes.product_cloud %>" alt="<%= obj.title %>">
                  </a>
                <% } %>
                <div class="card-body">
                  <div class="card-title">
                    <h4><%= obj.attributes.title %></h4>
                  </div>
                  <div class="card-content">
                    <% var str = obj.attributes.description; %>
                    <% if(str.length > 20){ %>
                      <% str = str.slice(0,20); %>
                      <% objId = obj.id; %>
                      <% userId = obj.relations.user.id; %>
                      <% if(obj.relations.user.id == users.id){ %>
                        <% str+='<br><a href="/detail/mypage_detail/'; %>
                      <% }else if(obj.relations.user.id != users.id){ %>
                        <% str+='<br><a href="/detail/'; %>
                      <% } %>
                      <% str+=objId+'/'+userId; %>
                      <% str+='">続きを読む</a>'; %>
                    <% } %>
                    <p style="margin:0;"><%- str %></p>
                    <div class="row">
                      <div class="col-4 col-sm-4">
                        <img class="lists-img" src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= obj.relations.user.attributes.user_cloud %>" alt="<%= obj.relations.user.attributes.username %>">
                      </div>
                      <div class="col-6 col-sm-6 pt-sm-3">
                        <p><%= obj.relations.user.attributes.username %></p>
                      </div>
                    </div>
                    <div class="created-at">
                      <% var d = new Date(obj.attributes.created_at);
                      var month = ('0'+(d.getMonth()+1)).slice(-2);
                      var date = ('0'+d.getDate()).slice(-2);
                      var hours = ('0'+d.getHours()).slice(-2);
                      var minutes = ('0'+d.getMinutes()).slice(-2);
                      var dates = d.getFullYear() + '年' + month + '月' + date + '日 ' + hours + ':' + minutes; %>
                      <p>作成日：<%= dates %></p>
                    </div>
                    <div class="good-count">
                      <% for(var item of goods){ %>
                        <% if(item.attributes.product_id == obj.id && item.attributes.good_user == obj.relations.user.id){ %>
                          <button class="good-btn fass" data-productid="<%= obj.id %>" data-gooduser="<%= obj.relations.user.id %>">
                            <div class="good-box">
                              <i class="fa fa-heart"> <%= obj.attributes.good_count %></i>
                            </div>
                          </button>
                        <% } %>
                      <% } %>
                      <button class="good-btn farr" data-productid="<%= obj.id %>" data-gooduser="<%= obj.relations.user.id %>">
                        <div class="good-box">
                          <i class="fa fa-heart"> <%= obj.attributes.good_count %></i>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
        <%- include('includes/pagination_nav',{pass:pass,pagination:pagination}) %>
        <%- include('includes/click_menu',{users:users}) %>
      <%- include('includes/serch_modal',{}) %>
      <%- include('includes/profile_modal',{}) %>
    </div>
    <%- include('includes/under_scripts',{}) %>
  </body>
</html>
