<!DOCTYPE html>
<html>
  <%- include('includes/head',{}) %>
  <body id="lists">
    <%- include('includes/header',{mode:0}) %>
    <div id="main">
      <%- include('includes/app_description',{}) %>
      <div class="container mt-3 mt-sm-5">
        <div class="row">
          <div class="col-12 col-sm-8">
            <div class="lists-title">
              <h2>・ログイン</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12">
            <ul class="mini-ul">
              <li>全て確実に入れてください。</li>
              <li>パスワードは数字を含めた8文字以上で入力してください。</li>
            </ul>
            <%- content %>
          </div>
        </div>
        <div class="create-form mb-3 mb-sm-5">
          <form class="p-2 p-sm-5 login-form" action="/users" method="post">
            <label for="username">username</label><br>
            <input id="username" class="form-control responsive-input" type="text" name="username" value="<%= form.username %>" placeholder="username">
            <label for="password">password</label><br>
            <input id="password" class="form-control responsive-input" type="password" name="password" placeholder="password" value="<%= form.password %>">
            <div class="create_send_btn pr-3 pr-sm-5 mt-3 mt-sm-5" style="text-align:center;">
              <input class="btn btn-primary login-btn" type="submit" value="ログイン">
            </div>
          </form>
        </div>
        <%- include('includes/before_click_menu',{}) %>
    </div>
    <%- include('includes/under_scripts',{}) %>
  </body>
</html>
