<!DOCTYPE html>
<html>
  <%- include('includes/head',{}) %>
  <body id="lists">
    <%- include('includes/header',{mode:1}) %>
    <div id="main">
      <%- include('includes/app_description',{}) %>
      <div class="container mt-3 mt-sm-5">
        <div class="row" style="border:1px solid #666;border-radius:5px;">
          <div class="col-12 col-sm-8">
            <div class="lists-title">
              <h2 class="h2-mini-size pt-3 pb-3 pt-sm-3 pb-sm-3">・<%= users.attributes.username %>さんの投稿一覧</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 mt-3 mt-sm-5 row">
            <h2 class="col-12 col-sm-4 icon">公開している制作物</h2>
          </div>
          <% for(var i in content){ %>
            <% var obj = content[i] %>
            <% if(obj.attributes.publish == 'Public'){ %>
            <div class="col-12 col-sm-4 mt-2 mt-sm-3">
              <div class="card" style="border:1px solid #666;border-radius:10px;">
                <div class="card-header">
                  <a href="/detail/mypage_detail/<%= obj.id %>/<%= obj.relations.user.id %>/">
                    <img src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= obj.attributes.product_cloud %>" alt="<%= obj.title %>" height="200" width="310">
                  </a>
                </div>
                <div class="card-body">
                  <div class="user-tool" style="width:100%;">
                    <a id="publish-btn" class="user-tool-btns" href="/lists/change_publish/1/<%= obj.attributes.id %>">
                      <i class="fa fa-toggle-on"><span class="publish-btn-description"> (非公開へ)</span></i>
                    </a>
                    <a id="delete-btn" class="user-tool-btns" data-toggle="modal" data-target="#delete-modal" data-productid="<%= obj.id %>">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                  <div class="card-title">
                    <h4><%= obj.attributes.title %></h4>
                  </div>
                  <div class="card-content">
                    <% var str = obj.attributes.description; %>
                    <% if(str.length > 20){ %>
                      <% str = str.slice(0,20); %>
                      <% objId = obj.id; %>
                      <% userId = obj.relations.user.id; %>
                      <% str+='<br><a href="/detail/'; %>
                      <% str+=objId+'/'+userId; %>
                      <% str+='">続きを読む</a>'; %>
                    <% } %>
                    <p style="margin:0;"><%- str %></p>
                    <div class="row">
                      <div class="col-4 col-sm-4">
                        <img class="lists-img" src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= obj.relations.user.attributes.user_cloud %>" alt="<%= obj.relations.user.attributes.username %>">
                      </div>
                      <div class="col-6 col-sm-6 pt-sm-3">
                        <p><%= obj.relations.user.attributes.username %></p>
                      </div>
                    </div>
                    <div class="created-at">
                      <% var d = new Date(obj.attributes.created_at);
                      var month = ('0'+(d.getMonth()+1)).slice(-2);
                      var date = ('0'+d.getDate()).slice(-2);
                      var hours = ('0'+d.getHours()).slice(-2);
                      var minutes = ('0'+d.getMinutes()).slice(-2);
                      var dates = d.getFullYear() + '年' + month + '月' + date + '日 ' + hours + ':' + minutes; %>
                      <p>作成日：<%= dates %></p>
                    </div>
                    <div class="good-count mt-sm-1">
                      <% for(var item of goods){ %>
                        <% if(item.attributes.product_id == obj.id && item.attributes.good_user == obj.relations.user.id){ %>
                          <button class="good-btn fass" data-productid="<%= obj.id %>" data-gooduser="<%= obj.relations.user.id %>">
                            <div class="good-box">
                              <i class="fa fa-heart" style="font-size:20px;"> <%= obj.attributes.good_count %></i>
                            </div>
                          </button>
                        <% } %>
                      <% } %>
                      <button class="good-btn farr" data-productid="<%= obj.id %>" data-gooduser="<%= obj.relations.user.id %>">
                        <div class="good-box">
                          <i class="fa fa-heart" style="font-size:20px;"> <%= obj.attributes.good_count %></i>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% } %>
          <div class="col-12 col-sm-12 mt-3 mt-sm-5">
            <h2 class="col-12 col-sm-4 icon no-publish-title">非公開の制作物</h2>
          </div>
          <% for(var i in content){ %>
            <% var obj = content[i]; %>
            <% if(obj.attributes.publish == 'Private'){ %>
              <div class="col-12 col-sm-4 mt-2 mt-sm-3">
                <div class="card" style="border:1px solid #666;border-radius:10px;">
                  <div class="card-header">
                    <a href="/detail/mypage_detail/<%= obj.id %>/<%= obj.relations.user.id %>/">
                      <img src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= obj.attributes.product_cloud %>" alt="<%= obj.title %>" height="200" width="310">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="user-tool">
                      <a id="publish-btn" class="user-tool-btns" href="/lists/change_publish/2/<%= obj.attributes.id %>">
                        <i class="fa fa-toggle-off"><span class="publish-btn-description"> (公開する)</span></i>
                      </a>
                      <a id="delete-btn" class="user-tool-btns" data-toggle="modal" data-target="#delete-modal" data-productid="<%= obj.id %>">
                        <i class="fa fa-trash"></i>
                      </a>
                    </div>
                    <div class="card-title">
                      <h4><%= obj.attributes.title %></h4>
                    </div>
                    <div class="card-content">
                      <% var str = obj.attributes.description; %>
                      <% if(str.length > 20){ %>
                        <% str = str.slice(0,20); %>
                        <% objId = obj.id; %>
                        <% userId = obj.relations.user.id; %>
                        <% str+='<br><a href="/detail/'; %>
                        <% str+=objId+'/'+userId; %>
                        <% str+='">続きを読む</a>'; %>
                      <% } %>
                      <p style="margin:0;"><%- str %></p>
                      <div class="row">
                        <div class="col-4 col-sm-4">
                          <img src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= obj.relations.user.attributes.user_cloud %>" alt="<%= obj.relations.user.attributes.username %>" height="50" width="50" style="border-radius:25px;">
                        </div>
                        <div class="col-6 col-sm-6 pt-sm-3">
                          <p><%= obj.relations.user.attributes.username %></p>
                        </div>
                      </div>
                      <div class="created-at">
                        <% var d = new Date(obj.attributes.created_at);
                        var month = ('0'+(d.getMonth()+1)).slice(-2);
                        var date = ('0'+d.getDate()).slice(-2);
                        var hours = ('0'+d.getHours()).slice(-2);
                        var minutes = ('0'+d.getMinutes()).slice(-2);
                        var dates = d.getFullYear() + '年' + month + '月' + date + '日 ' + hours + ':' + minutes; %>
                        <p>作成日：<%= dates %></p>
                      </div>
                      <div class="good-count mt-sm-1">
                        <% for(var item of goods){ %>
                          <% if(item.attributes.product_id == obj.id && item.attributes.good_user == obj.relations.user.id){ %>
                            <button class="good-btn fass" data-productid="<%= obj.id %>" data-gooduser="<%= obj.relations.user.id %>">
                              <div class="good-box">
                                <i class="fa fa-heart" style="font-size:20px;"> <%= obj.attributes.good_count %></i>
                              </div>
                            </button>
                          <% } %>
                        <% } %>
                        <button class="good-btn farr" data-productid="<%= obj.id %>" data-gooduser="<%= obj.relations.user.id %>">
                          <div class="good-box">
                            <i class="fa fa-heart" style="font-size:20px;"> <%= obj.attributes.good_count %></i>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
        <%- include('includes/click_menu',{users:users}) %>
      <%- include('includes/serch_modal',{}) %>
      <div class="modal fade delete-modal" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4><div class="modal-title">データ削除</div></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>本当に削除しますか？(削除したデータは戻ってきません)</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a class="btn btn-danger delete-btn" href="/lists/delete/1">削除</a>
            </div>
          </div>
        </div>
      </div>
      <%- include('includes/profile_modal',{}) %>
    </div>
    <%- include('includes/under_scripts',{}) %>
  </body>
</html>
