<!DOCTYPE html>
<html>
  <%- include('includes/head',{}) %>
  <body id="detail">
    <%- include('includes/header',{mode:1}) %>
    <div id="main">
      <%- include('includes/app_description',{}) %>
      <div class="container mt-3 mt-sm-3">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="lists-title">
              <h2 class="pt-1 pb-1 pt-sm-1 pb-sm-2"></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-2 mt-sm-3">
        <div class="row">
          <div class="detail-img col-12 col-sm-6">
            <a href="http://res.cloudinary.com/do40sxkcd/image/upload/<%= product.attributes.product_cloud %>" data-lightbox="group">
              <img class="detail-product-img" src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= product.attributes.product_cloud %>" alt="taskchecker">
            </a>
            
          </div>
          <div class="col-12 col-sm-6 pt-2 detail-description">
            <h1 class="detail-description-title detail-title"><%= product.attributes.title %>
              <a id="update-btn" class="user-tool-update-btn" data-toggle="modal" data-target="#update-modal">
                <i class="fa fa-pencil"></i>
              </a>
            </h1>
            <p class="mt-2 mt-sm-4"><%- product.attributes.description %></p>
            <% var d = new Date(product.attributes.created_at);
            var month = ('0'+(d.getMonth()+1)).slice(-2);
            var date = ('0'+d.getDate()).slice(-2);
            var hours = ('0'+d.getHours()).slice(-2);
            var minutes = ('0'+d.getMinutes()).slice(-2);
            var dates = d.getFullYear() + '年' + month + '月' + date + '日 ' + hours + ':' + minutes; %>
            <small>作成日：<%= dates %></small>
            <div class="good-count">
              <% for(var obj of goods){ %>
                <% if(obj.attributes.product_id==product.id && obj.attributes.good_user == product.relations.user.id){ %>
                  <button class="good-btn fass" data-productid="<%= product.id %>" data-gooduser="<%= product.relations.user.id %>">
                    <div class="good-box">
                      <i class="fa fa-heart" style="font-size:20px;"> <%= product.attributes.good_count %></i>
                    </div>
                  </button>
                <% } %>
              <% } %>
              <button class="good-btn farr" data-productid="<%= product.id %>" data-gooduser="<%= product.relations.user.id %>">
                <div class="good-box">
                  <i class="fa fa-heart" style="font-size:20px;"> <%= product.attributes.good_count %></i>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-1 mt-sm-5 mb-sm-3">
          <div class="col-12 col-sm-8 detail-user-profile">
            <h2 class="detail-producter detail-title">製作者情報</h2>
            <div class="row">
              <div class="col-4 col-sm-2 mb-1 mb-sm-3">
                <img class="details-img" src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= product.relations.user.attributes.user_cloud %>" alt="mahiru">
              </div>
              <div class="col-8 col-sm-10 mt-3 mt-sm-4">
                <p><%= product.relations.user.attributes.username %></p>
              </div>
            </div>
          </div>
        </div>
        <%- include('includes/click_menu',{users:users}) %>
      <%- include('includes/serch_modal',{}) %>
      <%- include('includes/profile_modal',{}) %>
      <div class="modal fade update-modal" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="labell" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="update-modal-title"><div class="modal-title" id="myModalLabel">「<%= product.attributes.title %>」の編集</div></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <ul class="mini-ul">
                    <li>タイトルと画像は確実に入れてください。</li>
                    <li>概要は未入力だとNoneが入ります。</li>
                    <li>拡張子はgif,jpg,pngのどれかでお願いします。</li>
                  </ul>
                  <% if(content){ %>
                    <%- content %>
                  <% } %>
                </div>
              </div>
              <form action="/detail/mypage_detail/<%= product.id %>" method="post" enctype="multipart/form-data">
                <label for="create_title">タイトル</label><br>
                <input id="create_title" class="form-control" type="text" name="title" value="<%= product.attributes.title %>" placeholder="タイトル">
                <label for="create_description">概要</label><br>
                <textarea id="create_description" class="form-control" name="description" rows="8" cols="80" placeholder="概要"><%= product.attributes.description %></textarea>
                <div class="form-group">
                  <div class="radio-inline">
                    <% if(product.attributes.publish == 'Public'){ %>
                      <input type="radio" name="publish" value="Public" id="public" checked="checked">
                    <% }else{ %>
                      <input type="radio" name="publish" value="Public" id="public">
                    <% } %>
                    <label for="public">公開</label>
                  </div>
                  <div class="radio-inline">
                    <% if(product.attributes.publish == 'Private'){ %>
                      <input type="radio" name="publish" value="Private" id="private" checked="checked">
                    <% }else{ %>
                      <input type="radio" name="publish" value="Private" id="private">
                    <% } %>
                    <label for="private">非公開</label>
                  </div>
                </div>
                <label for="create_image">画像</label><br>
                <input id="file2" class="create-image" type="file" name="thumbnail" value=""><br>
                <div class="images">
                  <img id="result2" src="http://res.cloudinary.com/do40sxkcd/image/upload/<%= product.attributes.product_cloud %>" height="100" width="150">
                </div>
                <div class="create_send_btn pr-3 pr-sm-5" style="text-align:right;">
                  <input class="btn btn-primary update-btn" type="submit" value="更新">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('includes/under_scripts',{}) %>
  </body>
</html>
