<!DOCTYPE html>
<html>
  <%- include('includes/head',{}) %>
  <body id="lists">
    <%- include('includes/header',{mode:0}) %>
    <div id="main">
      <%- include('includes/app_description',{}) %>
      <div class="container mt-3 mt-sm-5">
        <div class="row">
          <div class="col-12 col-sm-8">
            <div class="lists-title">
              <h2>・ユーザー登録</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12">
            <ul class="mini-ul">
              <li>全て確実に入れてください。</li>
              <li>パスワードは数字を含めた8文字以上で登録してください。</li>
              <!-- <li>拡張子はgif,jpg,pngのどれかでお願いします。</li> -->
            </ul>
            <%- content %>
          </div>
        </div>
        <div class="create-form mb-3 mb-sm-5">
          <form class="p-3 p-sm-5" action="/users/signup" method="post" style="width:500px;margin:0 auto;">
            <label for="username">username</label><br>
            <input id="username" class="form-control responsive-input" type="text" name="username" value="<%= form.username %>" placeholder="username">
            <label for="password">password</label><br>
            <input id="password" class="form-control responsive-input" type="password" name="password" placeholder="password" value="<%= form.password %>">
            <label for="password">password(確認)</label><br/>
            <input id="password2" class="form-control responsive-input" type="password" name="password2" placeholder="password(確認用)" value="<%= form.password2 %>">
            <div class="create_send_btn pr-3 mt-3 pr-sm-5 mt-sm-5" style="text-align:center;">
              <input class="btn btn-primary" style="font-size:20px; width:100px;" type="submit" value="登録">
            </div>
          </form>
        </div>
        <%- include('includes/before_click_menu',{}) %>
    </div>
    <%- include('includes/under_scripts',{}) %>
  </body>
</html>
